<header>
  <mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
      <span class="logo" routerLink="/products">Software App</span>
      <span routerLink="/products" class="material-icons" style="cursor: pointer;">
        home
      </span>
      <span class="example-spacer"></span>
      <div class="header-right-side">
        <span>{{ currentUser }} ({{ currentRole }})</span>
        <button
          mat-icon-button
          (click)="openDialog()"
          class="example-icon"
          aria-label="Logout"
        >
          <span class="material-icons">logout</span>
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
<router-outlet></router-outlet>
