<div style="margin-top: 25px" class="mat-elevation-z8">
    <app-navigation ></app-navigation>
  
    <table mat-table [dataSource]="(soldProducts$ | async) || []">
      <ng-container matColumnDef="productname">
        <th mat-header-cell *matHeaderCellDef><b>Product name</b></th>
        <td mat-cell *matCellDef="let product">
        {{product.name}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef><b>Product price</b></th>
        <td mat-cell *matCellDef="let product">
          {{ product.price | currency : "GEL"}}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>
          <b>Quantity</b>
        </th>
        <td mat-cell *matCellDef="let product">
          {{ product.quantity }}
        </td>
      </ng-container>
  
      <ng-container matColumnDef="solddata">
        <th mat-header-cell *matHeaderCellDef>
          <b>Sold Data</b>
        </th>
        <td mat-cell *matCellDef="let product">
          {{ product.soldAt | date }}
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  
    <mat-paginator
      style="display: flex; justify-content: center"
      pageSize="10"
      [length]="item$ | async"
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
      [pageIndex]="0"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  </div>
  