<div style="margin-top: 25px" class="mat-elevation-z8">
  <button
    (click)="onAddProduct()"
    style="background-color: #1c9f27; margin-left: 12px"
    mat-raised-button
    color="primary"
  >
    Add Product
  </button>
  <table mat-table [dataSource]="(products$ | async) || []">
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef><b>Product Name</b></th>
      <td mat-cell *matCellDef="let product">
        {{ product.productName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="productPrice">
      <th mat-header-cell *matHeaderCellDef><b>Price</b></th>
      <td mat-cell *matCellDef="let product">
        {{ product.productPrice | currency : "GEL" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="productQuantity">
      <th mat-header-cell *matHeaderCellDef><b>Quantity</b></th>
      <td mat-cell *matCellDef="let product">{{ product.productQuantity }}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let product">
        <button
          (click)="onEdit(product)"
          style="background-color: #9f1c6b; margin-right: 20px"
          mat-raised-button
          color="primary"
        >
          Edit Product
        </button>
        <button
          (click)="onDelete(product)"
          style="background-color: #f14131"
          mat-raised-button
          color="primary"
        >
          Delete Product
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    style="display: flex; justify-content: center"
    pageSize="10"
    [length]="item$ | async"
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
    [pageIndex]="0"
    (page)="onPageChange($event)"
  >
  </mat-paginator>
</div>
