<div class="main-container" [formGroup]="data.onclick ? managerForm : form">

  @if (!data.editclick) { <h1 mat-dialog-title>{{data.onclick ? 'Add Manager' : 'Add Product'}}</h1>}
@if (data.editclick) {
  <h1 mat-dialog-title>Edit Product</h1>
}
 
  <div class="form-field-container">
    <mat-form-field class="mat-field">
      <mat-label>{{data.onclick ? 'Manager Firstname' : 'Product Name'}}</mat-label>
      <input matInput type="text" [formControlName]="data.onclick ? 'firstname' : 'name'" />

      @if (firstname?.errors?.['required'] && data.onclick ) {
        <mat-error>Firstname is mandatory</mat-error>
      }

      @if (firstname?.errors?.['lettersOnly'] && data.onclick) {
        <mat-error>Please enter only letters!</mat-error>
      }

      @if (name?.errors?.['required'] ) {
        <mat-error>Product is mandatory</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="mat-field">
      <mat-label>{{data.onclick ? 'Manager Lastname' : 'Product Quantity'}}</mat-label>
      <input matInput [type]="data.onclick ? 'text' : 'number'" [formControlName]="data.onclick ? 'lastname' : 'quantity'" />

      @if (lastname?.errors?.['required'] && data.onclick ) {
        <mat-error>Lastname is mandatory</mat-error>
      }

      @if (lastname?.errors?.['lettersOnly'] && data.onclick) {
        <mat-error>Please enter only letters!</mat-error>
      }

      @if (quantity?.errors?.['required'] ) {
        <mat-error>Quantity is mandatory!</mat-error>
      }

      @if (quantity?.errors?.['positiveNumber'] ) {
        <mat-error>Entering a negative number or 0 is not allowed!</mat-error>
      }
    </mat-form-field >

@if (data.onclick) {
  <mat-form-field class="mat-field">
    <mat-label>Pleae Enter manager email</mat-label>
    <input matInput type="email" formControlName="email">
  </mat-form-field>
}

    <mat-form-field class="mat-field">
      <mat-label>{{data.onclick? 'Manager Password' : 'Product Price'}}</mat-label>
      <input matInput [type]="data.onclick ? 'password' : 'number'" [formControlName]="data.onclick ? 'password' : 'price'" />
      @if (password?.errors?.['required'] && data.onclick ) {
        <mat-error>Password is mandatory</mat-error>
      }
      @if (password?.hasError('minlength') && data.onclick) {
        <mat-error>The password must consist of at least 5 characters</mat-error>
      }
      @if (password?.hasError('maxlength') && data.onclick) {
        <mat-error>The password must contain a maximum of 15 characters</mat-error>
      }

      @if (price?.errors?.['required'] ) {
        <mat-error>Price is mandatory!</mat-error>
      }

      @if (price?.errors?.['positiveNumber'] ) {
        <mat-error>Entering a negative number or 0 is not allowed!</mat-error>
      }
    </mat-form-field>

    @if (!data.onclick ) {
      <mat-form-field class="mat-field">
        <mat-label>Please select the manager</mat-label>
        <mat-select formControlName="managers" multiple>
          @for (manager of (allManagers$  | async); track manager) {
            <mat-option [value]="manager.id">{{manager.name + ' ' + manager.surname}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    }
  </div>
  @if (!data.editclick) {
    <button mat-raised-button color="primary" (click)="data.onclick ? onAddManager() : onAddProduct()" type="button">Submit</button>

  }

  @if (data.editclick) {
    <button mat-raised-button color="primary" (click)="onEditProduct()" type="button">Submit</button>
  }


</div>
