<!-- filter-popup.component.html -->

<div class="form-field-container">
  @if (data.onManagerFilterClick) {
  <div [formGroup]="managerForm" class="filter-popup">
    <h2>Filter Options</h2>
    <form>
      <div class="form-group">
        <label for="firstName">First Name:</label>
        <input formControlName="firstname" type="text" id="firstName"  />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input  formControlName="lastname" type="text" id="lastName"  />
      </div>
      <div class="form-group">
        <label for="registrationDateStart">Registration Date From:</label>
        <input

          type="date"
          id="registrationDateStart"
          name="registrationDateStart"
          formControlName="registerDataFrom"
        />
      </div>
      <div class="form-group">
        <label for="registrationDateEnd">Registration Date To:</label>
        <input
          type="date"
          id="registrationDateEnd"
          name="registrationDateEnd"
          formControlName="registerDataTo"
        />
      </div>
      <div class="form-group">
        <label for="soldAmountFrom">Sold Product Amount From:</label>
        <input  formControlName="soldProductFrom" type="number" id="soldAmountFrom" name="soldAmountFrom" />
      </div>
      <div class="form-group">
        <label for="soldAmountTo">Sold Product Amount To:</label>
        <input formControlName="soldProductTo" type="number" id="soldAmountTo" name="soldAmountTo" />
      </div>
      <div class="form-actions">
        <button (click)="onManagerFilter()" type="button" class="apply-button">Apply Filters</button>
        <button type="button" class="clear-button">Clear Filters</button>
      </div>
    </form>
  </div>


  
  } @if (data.onProductFilterClick) {

    <div class="filter-popup">
      <h2>Filter Options</h2>
      <form>
        <div class="form-group">
          <label for="productName">Product Name:</label>
          <input [formControl]="productControl" type="text" id="productName" />
        </div>
        <div class="form-actions">
          <button (click)="onProductFilter()" type="button" class="apply-button">Apply Filters</button>
          <button (click)="onClearFilters()" type="button" class="clear-button">Clear Filters</button>
        </div>
      </form>
    </div>
    
  }
