<!-- filter-popup.component.html -->

<div class="form-field-container">
  @if (data.onManagerFilterClick) {
  <div [formGroup]="managerForm" class="filter-popup">
    <h2>{{"Filter Options" | translate}}</h2>
    <form>
      <div class="form-group">
        <label for="firstName">{{"First Name" |translate}}:</label>
        <input formControlName="firstNameSearch" type="text" id="firstName"  />
      </div>
      <div class="form-group">
        <label for="lastName">{{"Last Name" | translate}}:</label>
        <input  formControlName="lastNameSearch" type="text" id="lastName"  />
      </div>
      <div class="form-group">
        <label for="registrationDateStart">{{"Registration Date From" | translate}}:</label>
        <input

          type="date"
          id="registrationDateStart"
          name="registrationDateStart"
          formControlName="registrationDateFrom"
        />
      </div>
      <div class="form-group">
        <label for="registrationDateEnd">{{"Registration Date To" | translate}}:</label>
        <input
          type="date"
          id="registrationDateEnd"
          name="registrationDateEnd"
          formControlName="registrationDateTo"
        />
      </div>
      <div class="form-group">
        <label for="soldAmountFrom">{{"Sold Product Amount From:" | translate}}:</label>
        <input  formControlName="totalPriceMin" type="number" name="soldAmountFrom" />
      </div>
      <div class="form-group">
        <label for="soldAmountTo">{{"Sold Product Amount To" | translate}}:</label>
        <input formControlName="totalPriceMax" type="number"  name="soldAmountTo" />
      </div>
      <div class="form-actions">
        <button (click)="onManagerFilter()" type="button" class="apply-button">{{"Apply Filters" | translate}}</button>
        <button type="button" class="clear-button">{{"Clear Filters" | translate}}</button>
      </div>
    </form>
  </div>


  
  } @if (data.onProductFilterClick) {

    <div class="filter-popup">
      <h2>{{"Filter Options" | translate}}</h2>
      <form>
        <div class="form-group">
          <label for="productName">{{"Product Name" | translate}}:</label>
          <input [formControl]="productControl" type="text" id="productName" />
        </div>
        <div class="form-actions">
          <button (click)="onProductFilter()" type="button" class="apply-button">{{"Apply Filters" | translate}}</button>
          <button (click)="onClearFilters()" type="button" class="clear-button">{{"Clear Filters" | translate}}</button>
        </div>
      </form>
    </div>
    
  }
