<button
  cl
  [routerLink]="'/products'"
  style="background-color: #1c309f; margin-left: 12px"
  mat-raised-button
  color="primary"
>
  See Products
</button>

<button
  [routerLink]="'/managers'"
  style="background-color: #1c309f; margin-left: 12px"
  mat-raised-button
  color="primary"
>
  See Managers
</button>

<button
(click)="onAddManager()"
  style="background-color: #1c9f27; margin-left: 12px"
  mat-raised-button
  color="primary"
>
  Add Manager
</button>

<button
  (click)="onAddProduct()"
  style="background-color: #1c9f27; margin-left: 12px"
  mat-raised-button
  color="primary"
>
  Add Product
</button>

<button
  style="background-color: #b5a218; margin-left: 12px"
  mat-raised-button
  color="primary"
  [routerLink]="'/sold-products'"
>
  See Sold Products
</button>
