<button
  cl
  [routerLink]="'/products'"
  style="background-color: #1c309f; margin-left: 12px"
  mat-raised-button
  color="primary"
>
{{ "See Products" | translate}}
</button>

@if (userRole == 'admin') {

<button

  [routerLink]="'/managers'"
  style="background-color: #1c309f; margin-left: 12px"
  mat-raised-button
  color="primary"
>
{{ "See Managers" | translate}}
</button>

<button
  (click)="onAddManager()"
  style="background-color: #1c9f27; margin-left: 12px"
  mat-raised-button
  color="primary"
>
 {{ "Add Manager" | translate}}
</button>

<button
  (click)="onAddProduct()"
  style="background-color: #1c9f27; margin-left: 12px"
  mat-raised-button
  color="primary"
>
{{ "Add Product" | translate}}
</button>
}

<button
  style="background-color: #b5a218; margin-left: 12px"
  mat-raised-button
  color="primary"
  [routerLink]="'/sold-products'"
>
{{ "See Sold Product" | translate}}
</button>
